
 
 
 <div id="banner">
            <div id="banner-icon"><i class="banner" aria-hidden"true" ></i> </div>
            <span id="banner-text" class="banner" >Michael's Photo App</span>
        </div>

