<div id="main-content">
    <div id="error-message">500 Server Internal Error. <br /> Oops something went wrong. Please try again later or
    contact side admin.</div>
        {{err_message}}
    </div>
    <div id="error-gif"></div>
</div>
</div>