    
    <div class="form-container">
    <header class="form-header">
        <h1>
     Home Page
    </h1>
    </header>
    <br>
    <form>
    <div id="main-content">
      {{#each results}}
      {{>card this}}
      {{/each}}
    </div>
   
</form>
</div>