
<h1>Photo Page</h1>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        width: 80%
    }

    
</style>


    <p id="count"></p>
    <div id="container">
    </div>

